    @import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);

/*  Global  */

body {
  background: url(https://raw.githubusercontent.com/connorbacon9/connorbacon9.github.io/master/img/styletile/zwartevilt.png);
}


/*  Typography  */

body {
  color: #ccc;
  line-height: 1.5em;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: .1em;
}


/* Navigation */

a:link,
a:visited {
  padding: 2px 0;
  color: #696969;
  text-decoration: none;
}

a:hover {
  color: white;
  transition: background .5s;
}

.navwrap {
  margin: 0 auto;
  min-width: 14.5%;
  left: 0;
  position: fixed;
  margin-top: 15%;
  background: black;
  display: block;
  border-radius: 20px;
}

nav ul li {
  font-size: 1.5em;
  display: block;
  padding-left: 20px;
}


/* Paragraphs and Headings */

p {
  font-size: 1em;
}

h1 {
  font-size: 2.5em;
  float: left;
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  font-size: 250%;
  padding-top: 1%;
}

h2 {
  text-align: center;
  font-size: 2.25em;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin-top: 10%;
}

h3 {
  font-size: 2em;
  font-family: 'Great Vibes', cursive;
  font-weight: 300;
  font-size: 200%;
  text-align: center;
  margin-top: 8%;
}


/* Layout */

main {
  width: 95%;
  max-width: 95%;
  margin: 0 auto;
}

header {
  width: 100%;
  float: left;
  margin-bottom: 3%;
  margin-top: 2%;
}

header img {
  margin-left: 1%;
  margin-right: 1%;
}

header img,
header h1 {
  float: left;
}

#homepic {
  display: block;
  margin: 0 auto;
  height: 500px;
  max-width: 450px;
}

/* Sections A and B */

.wrapper {
  width: 55%;
  margin: 0 auto;
}

section {
  padding-top: 2%;
  padding-bottom: 2%;
}

#a img {
  position: relative;
  text-align: center;
}

#contact {
  text-align: center;
  padding-top: 30%;
}


/*   Lightbox   */

.portwrap {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

figure {
  display: inline;
  position;
  relative;
  height: 100px;
  width: 300px;
  overflow: hidden;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  outline: none;
  display: block;
}


/* Footer */

footer {
  padding-top: 5%;
  clear: both;
}

footer p {
  float: left;
  font-size: .8em;
}

footer ul li {
  display: inline;
  padding-left: 3%;
  position: relative;
  float: right;
}


/* Media Queries */


/*  Tablet Media Query  */

@media screen and (max-width: 768px) {
  body {
    margin: 0 auto;
    background: #333;
  }
  /*  Nav  */
  .navwrap {
    background: none;
    margin-left: 68%;
  }
  
  .homepic {
    height: 150px;
    width: 100px;
  }
  
  header nav li {
    display: block;
    width: 100%;
    list-style: none;
  }
 
  
  
  /* Mobile Media Query */
  @media screen and (max-width: 420px) {
    body {
      margin: 0 auto;
      background: #333;
    }
    main {
      margin: 0 auto;
    }
    /*  Nav  */
    .navwrap {
      background: none;
      float: right;
    }
    
    .homepic {
    height: 50px;
    width: 40px;
  }
    
    nav {
      
      position: absolute;
    }