@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);

/* http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png
*/

/*  Global  */
body {
  background: url(https://raw.githubusercontent.com/connorbacon9/connorbacon9.github.io/master/img/styletile/zwartevilt.png);
}


/*  Typography  */

body {
  color: #ccc;
  line-height: 1.5em;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: .1em;
}



/* Navigation */
a:link,
a:visited {
  padding: 4px 0;
  color: #696969;
  text-decoration: none;
}

a:hover {
  color: white;
  transition: background .5s;
}


nav {
  width: 100%;
  padding: .1%;
  font-size: 1.2em;
  margin-bottom: 5%;
 
}

nav ul li {
  display: inline;
  padding-left: 21%;
  position: relative;
}


/* Paragraphs and Headings */

p {
  font-size: 1em;
}

h1 {
  font-size: 2.5em;
  float: left;
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  font-size: 250%;
  padding-top: 1%;
}

h2 {
  text-align: center;
  font-size: 2.25em;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  padding-right: 13%;
}

h3 {
  font-size: 2em;
  font-family: 'Great Vibes', cursive;
  font-weight: 300;
  font-size: 200%;
  padding-right: 28%;
  text-align: center;
}

footer p {
  font-size: .8em;
}

/* Layout */

main {
  width: 95%;
  max-width: 95%;
  margin: 0 auto;
}

header {
  width: 100%;
  float: left;
  margin-bottom: 3%;
}

header img {
  margin-left: 1%;
  margin-right: 1%;
}


header img,
header h1 {
  float: left;
}


/* Sections A and B */

section {
  padding-top: 2%;
  padding-bottom: 2%;
}

#a {
  width: 58%;
  margin-left: 25%;
  float: left;
  text-alight: center;
}

#a p {
  max-width: 87%;
}

#a h3 {
  margin-left: 14%;
}

#a img {
  max-width: 43%;
  height: auto;
  padding-left: 23%;
  
}

#b {
  width: 58%;
  margin-left: 25%;
  float: left;
}

#b p {
  max-width: 87%;
}

#b h3 {
  margin-left: 14%;
}


/* Footer */

footer {
  padding-top: 5%;
  clear: both;
}

footer p {
  float: left;
}

footer ul li {
  display: inline; 
  padding-left: 3%;
  position: relative;
  float: right;
}




/* Media Queries */

/*  Tablet Media Query  */
  @media screen and (max-width: 768px) {
  
  body {
    margin: 0 auto;
    background: #333;
  }
  
  
/*  Nav  */
  nav {
    float: left;
    width: 100%;
    padding-left: 65%;
  }
  
  nav ul{
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: block;
  }
  
  header nav li {
    display: block;
    width: 100%;
    list-style: none;
  }



/* Mobile Media Query */
@media screen and (max-width: 420px) {
  
  body {
    margin: 0 auto;
    background: #333;
  }
 
  
/*  Nav  */
  nav {
    float: left;
    width: 100%;
  }
  
  nav ul{
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: block;
  }
  
  header nav li {
    display: block;
    width: 100%;
    list-style: none;
  }
  
  

